.source-share-list{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
.source-share-list .title-h{
  display: block;
}
.source-share-list .title-p {
    width: 400px;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.8em;
    color: #fa4b2a;
    font-weight: 400;
}
.source-share-list label {
    width: 24%;
    height: 2px;
    margin-top: 3%;
    display: inline-block;
    max-width: 100%;
    font-weight: bold;
    background: #303030;
}
.source-card-list{
  width: 76%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.6em;
}
.source-share-list .source-card{
  margin-bottom: 1em;
  height: 160px;
  width: 100%;
  background-color: #fff;
  border: 1px #EDEDEF solid;
  padding: 2em;
}
.source-card button{
  margin-top: 1em;
  min-width: 12%;
  border-radius: 0;
}
.source-card b{
  margin-right: 0.4em;
}
.source-card b.b-by{
  font-size: 16px;
  font-weight: 500;
}
.source-card b.b-username{
  font-size: 14px;
  color: #fa4b2a; 
}
.source-card b.b-publishtime{
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
.source-share-list .pagination{
  margin: 0.2em 11.8em 1em auto;
  align-self: flex-end;
}
.source-share-list .pagination>li>a{
  color: lightslategray;
}
.source-share-list .pagination>li>a{
  background: none;
  border: none;
}
.source-share-list .pagination>li>a:hover{
  color: lightslategray;
}
.source-share-list .pagination>li.active>a{
  color: #fff;
  border: none;
}


