body{
  background: #EDEDEF;
}
.navbar-custom{
  background-color: #fff;
  border-color: #e7e7e7;
  height: 100%;
  box-shadow: 0px 1px 9px 1px #cfcfcf;
  padding: 1em 0;
}
.header a{
  color: #212121;
  cursor: pointer;
}
.header a:hover{
  color: #fa4b2a;
  background-color: transparent !important;
  text-decoration: none;
}

.header .nav>li>a:focus {
  background-color: transparent;    /* 设置active背景 */
  color: #fa4b2a;
}
footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.8rem;
  background-color: #303030;
  text-align: center;
  color: #fff;
  display: block;
  box-shadow: 0px -6px 9px 3px #cfcfcf;
}
.app-enter {
  opacity: 0.01;
  height: 0px;
}
.app-enter.app-enter-active {
  opacity: 1;
  height: auto;
  transition: 700ms;
}
.app-leave {
  opacity: 1;
}

.app-leave.app-leave-active {
  opacity: 0.01;
  transition: opacity 0ms ease-in;
}