.login{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 6em;
  align-items: center;
  width: 30%;
  background-color: #fff;
  padding-top: 1em; 
  padding-bottom: 5em;
  border-radius: 5px;
}
.login form{
  width: 76%;
  margin-top: 2em;
}
.input-group-custom{
  margin: auto;
  width: 100%;
  height: 40px;
}
.input-group-danger{
  width: 100%;
  height: 40px;
}
.input-group-custom input{
  height: 40px;
}
.input-group-addon-custom-user{
  background: url("../img/user.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 16%;
}
.input-group-addon-custom-password{
  background: url("../img/lock.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 16%;
}
.login button{
  margin-top: 1em;
  width: 76%;
}