.source-share-list{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
.source-share-list .title-h{
  display: block;
}
.source-share-list .title-p {
    width: 400px;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.8em;
    color: #fa4b2a;
    font-weight: 400;
}
.source-share-list label {
    width: 24%;
    height: 2px;
    margin-top: 3%;
    display: inline-block;
    max-width: 100%;
    font-weight: bold;
    background: #303030;
}

