body{
  background: #EDEDEF;
}
.navbar-custom{
  background-color: #fff;
  border-color: #e7e7e7;
  box-shadow: 0px 1px 9px 1px #cfcfcf;
  padding: 1em 0;
}
.header{
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.header > div.body {
  flex: 1;
}
.header a{
  color: #212121;
  cursor: pointer;
}
.header a:hover{
  color: #fa4b2a;
  background-color: transparent !important;
  text-decoration: none;
}

.header .nav>li>a:focus {
  background-color: transparent;    /* 设置active背景 */
  color: #fa4b2a;
}
footer{
  margin-bottom: 0;
  padding: 1.4rem;
  background-color: #303030;
  text-align: center;
  color: #fff;
  display: block;
  box-shadow: 0px -6px 9px 3px #cfcfcf;
}
